[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2"
djangorestframework = "==3.9.0"
pillow = "==5.3.0"
django-wkhtmltopdf = "*"
django-rest-multiple-models = "*"
django-multiselectfield = "*"
filters-django = "*"
django-filter = "*"
six = "*"
drf-pdf = "*"
pyotp= "*"
corsheaders= "*"
psycopg2= "*"
gunicorn= "*"
django-heroku= "*"
[requires]
python_version = "3.6"
